<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,62}</string>
                <key>spriteSourceSize</key>
                <string>{53,62}</string>
                <key>textureRect</key>
                <string>{{0,0},{53,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,62}</string>
                <key>spriteSourceSize</key>
                <string>{53,62}</string>
                <key>textureRect</key>
                <string>{{53,0},{53,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,62}</string>
                <key>spriteSourceSize</key>
                <string>{53,62}</string>
                <key>textureRect</key>
                <string>{{106,0},{53,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>actor02.png</string>
            <key>size</key>
            <string>{159,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f08c1ecf45d849c4fc0ef27ae1d3dcd:b9127c1692db661e456a64791865d111:bd2c0ffb02e540bbc4a059004c0af9ca$</string>
            <key>textureFileName</key>
            <string>actor02.png</string>
        </dict>
    </dict>
</plist>
